  .login-form {
    background-color: #F2F2F2;
    padding-left: 120px;
    padding-right: 120px;
    padding-block-start: 50px ;
    padding-block-end: 50px;
    border-radius: 25px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgb(0, 0, 0, 0.2) ;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
  }
  .login-form-remember {
    float: left;
  }
  
  .login-form-button {
    width: 100%;
  }





  
  