.space{
    margin-bottom: 10px;    
}

.head-content{
    padding: 2rem 0rem 2rem;
  }

.site-card-wrapper{
    margin-bottom: 2rem;
}

.button-create{
    position: absolute;
    bottom: -1px;
    right: 2rem;
}


.hover:hover{
    text-decoration: none;
}

.font{
    font-size: 22px;
    display: flex;
    margin-left: 1rem;
}

.text{
    margin-bottom: 0rem;
    margin-top: 0rem;
    margin-left: 1rem;
}

.icon{
    margin-top: 6px;
}

.course{
    text-align: center;
    margin-top: 1rem;
    margin-left: 3.7rem;
    font-size: 18px;
    display: flex;
    font-weight: 300;
}
.course-name{
    margin-left: 0.5rem;
}

.confirm-button{
    text-align: right;
}

.cancel{
    margin-right: 0.6rem;
}

.delete{
    margin-right: 0.4rem;
}

.delete-button-trash{
    padding-left: 0.5rem;
    margin-top: 0.3rem;
}

.trash{
    margin-right: 0.5rem;
}

.edit-button{
    margin-top: 0.4rem;
    margin-left: 3.5rem;
}