.create-question-button{
    margin-top: 0rem;
    text-align: right;
    padding-inline-start: 1;
    position: sticky;
  }

  .question-box{
    border-width: 2rem;
    border-radius: 10px;
    border-color: black;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.137);
    height: 50px;
    margin: 1rem 0rem 1rem;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.question-box .name{
  padding: 0.9rem;
  font-size: 18px;
}

.question-box .level{
  padding: 0.9rem;
  font-size: 18px;
}

.question-box .createby{
  padding: 0.9rem ;
  font-size: 18px;
}

.question-button{
  text-align: center;
  justify-content: center;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0rem 0rem 0rem;
  padding: 12.5px 60px ;
  font-family: Roboto;
  font-size: 17px;
  color: #F0F3F4;
  font-weight: 700; 
  border: none;
  background-color: #009688
  ;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.096), 0px 0px 5px rgba(0, 0, 0, 0.096) ;
  transition: all ease-in-out 0.1s;
}

.question-button:hover{
  z-index: 1;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.151), 0px 0px 5px rgb(0, 0, 0.151, 0);
  background-color: #00695f
  ;

}
.name-group{
  margin-left: 0; 
  margin-right: auto;
  position: inherit;
}

.createby-group{
  margin-left: auto; 
  margin-right: 0;
  position: inherit;
}

.level-group{
  margin-left: 0; 
  margin-right: 0;
  position: inherit;
}

.button-train{
  margin-left: 0; 
  margin-right: 0;
  position: inherit;
}

.button-group{
  padding-top: 1.5px;
  margin-left: 0; 
  margin-right: 0;
  position: inherit;
}

#level-1{
 color: #52c41a;
}
#level-2{
  color: #fadb14;
 }
 #level-3{
  color: #fa541c;
 }
 #level-4{
  color: #f5222d;
 }
 #level-5{
  color: #722ed1;
 }

 .pagination{
   position: relative;
   float: right;
   margin-top: auto;
   margin-bottom: 0;
 }

 .header{
   margin: 0.2rem 0.2rem;
   border-radius: 15px;
   background-color: #ffffff;
 }

 .name-header{
   margin-left: 0;
   padding: 1rem 1rem;
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
   margin-right: 0;
   background-color: #05192D;
   position: inherit;
 }

 .name-header h1{
  color: whitesmoke;
  font-size: 30px;
 }

 .description-header{
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  position: inherit;
 }

 #description{
   padding-left: 0.5rem;
 }

 #outputText{
  margin-right: 0;
 }

 .level-header{
   margin-right: 0;
   margin-left: auto;
   position: inherit;
   padding: 1rem 1rem;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   align-items: center;
 }
 #background-level-1{
  background-color: #52c41a;
 }

 #background-level-2{
  background-color: #fadb14;
 }
 
 #background-level-3{
  background-color: #fa541c;
 }

 #background-level-4{
  background-color: #f5222d;
 }

 #background-level-5{
  background-color: #722ed1;
 }

.fa-medal{
  margin-right: 0.5rem;
  font-size: 30px;
}
 .level-header h2{
  color: whitesmoke;
  font-size: 15px;
 }

 .edit-code{
   border-radius: 0.5rem;
 }